<ul class="links">
  <li>
    <a routerLink="/home">
      <img src="assets/icons/you-channel.svg" alt="icon" />
      <span>Seu canal</span>
    </a>
  </li>
  <li>
    <a routerLink="/home">
      <img src="assets/icons/clock.svg" alt="icon" />
      <span>Histórico</span>
    </a>
  </li>
  <li>
    <a routerLink="/home">
      <img src="assets/icons/playlist.svg" alt="icon" />
      <span>Playlist</span>
    </a>
  </li>
  <li>
    <a routerLink="/home">
      <img src="assets/icons/playvideo.svg" alt="icon" />
      <span>Seus vídeos</span>
    </a>
  </li>
</ul>
